html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%; 
    height:100%
}

.head{
    background-image: linear-gradient(to right, #4a148c, #aa00ff ); 
    background-color: blue; 
    width: 100%; 
    line-height: 60px;
    height: 60px; 
    float: right; 
    position: fixed;
}

.menu{
    background-image: linear-gradient(#4a148c,#aa00ff, #03a9f4); 
    width: 15%; 
    height: 100%; 
    float: left; 
    position: fixed
}

.isi{
    margin-top: 6%;
    width: 83%; 
    float: right;
    padding-right: 1%;
}

.foot{
    margin-top: 1%;
    background-color: gray; 
    width: 84%; 
    line-height: 40px;
    height: 40px; 
    float: right;
    vertical-align: middle;
}

.kanan-head{
    float: right;
    margin-right:1%;
    display:block;
}

.kiri-head{
    float: left;
    margin-right:1%;
    display:block;
}

.kiri-head img{
    padding: 2px 0px 2px 0px;
    width: 100px;
    height: 50px;
}

.button-div {
    cursor: pointer;
}

.button-div img {
    vertical-align: middle;
    border-radius: 50%;
    width: 40px;
}

.head-img{
    width: 100%; 
    height: 60px; 
}

.head-img img{
    width: 100%; 
    height: 60px; 
}

#img-mobile{
    display: none;
}

.menu-mobile{
    width: 100%;
    margin-top: 70px;
    display: none;
}

.menu-mobile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.menu-mobile li {
  float: left;
}

.menu-mobile li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menu-mobile li a:hover {
  background-color: #111111;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li a {
    font-size: 14pt;
    padding: 10px 0px 10px 12px;
    align-items: center;
    display: block;
    color: #000;
    text-decoration: none;
}

/* Change the link color on hover */
.menu li a:hover {
  background-color: #651fff ;
  color: white;
}

.menu .icon-menu{
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

hr {
    padding: 0px;
    margin: 0px;
    border: 0;
    background-color:#FFFF00;
    height: 1px;
}

.panah{
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .menu {
        display:none;
    }
    #img-mobile{
        display: initial;
    }
    .shotcut{
        width: 100%;
        height: 100%;
    }
    .menu-mobile{
        display: inline-block;
    }
    .isi,.foot {
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
    }
  }

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
}

.grid-container > div {
  text-align: center;
}

.baris {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.kolom {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 5px;
  }
.box {
    margin: 0px 0px 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.box-native {
    margin: 0px 0px 10px 0px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box-container {
  padding: 2px 16px;
}

.judul{
    text-align: left;
}

.shotcut{
    width: 100%;
    height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.identitas{
    text-align: center;
}

.text-kanan{
    text-align: right;
}

.text-kiri{
    text-align: left;
}

.text-tengah{
    text-align: center;
}
.fa-stack        .fa.blue { color: blue; }
.fa-stack        .fa.red { color: red; }
.fa-stack        .fa.green { color: green; }
.fa-stack        .fa.fa-trash{ color: white; }
.fa-stack:hover  .fa.fa-trash{ color: black; cursor: pointer; }
.fa-stack        .fa.fa-pencil{ color: white; }
.fa-stack:hover  .fa.fa-pencil{ color: black; cursor: pointer; }
.fa-stack        .fa.fa-plus{ color: white; }
.fa-stack:hover  .fa.fa-plus{ color: black; cursor: pointer; }